@font-face {
	font-family: "Yu Gothic Light";
	src: url("./yugothil.ttf");
}

html {
	min-height: 100%;
}

body{
	font-family: "Yu Gothic Light", sans-serif;
	background: rgb(0,0,0);
	background: radial-gradient(ellipse 320% 110% at bottom, rgba(0,28,122,1) 0%, rgba(0,0,0,1) 30%);
	background-size: cover;
	min-height: 100vh;
	color: #EBD793;
	padding: 0;
	margin: 0;
}

div.bottom{
	background-color: #777777;
	padding: 2%;
	text-align: center;
}

.bottom > a{
	background-color: red;
}

.grid-container {
	min-height: 100vh;
	display: grid;
	grid-gap: 1em;
	grid-template-columns: 1fr 1fr 1.25fr 1.25fr;
	grid-template-rows: 1.5fr 3fr 3fr 1fr;
	grid-template-areas: "symposion . pouto pouto" "kosmonaut kosmonaut obsach obsach" "kosmonaut kosmonaut obsach obsach" "ikonky ikonky ikonky ikonky";
}

.symposion {
	padding: 10px;
	grid-area: symposion;
	place-self: center;
	display: grid;
	z-index: 1;
}

.symposion h1 {
	display: grid;
	letter-spacing: 1v;
	text-transform: uppercase;
}

.kosmonaut {
	grid-area: kosmonaut;
	padding: 10px;
}

.kosmonaut .lod {
	z-index: 1001;
}

.kosmonaut > img {
	transform: scale(0.8);
}

.pouto {
	font-family: 'Montserrat', sans-serif;
	grid-area: pouto;
	place-self: center;
	color: #ef5b41;
	font-size: 3em;
	font-weight: normal;
	letter-spacing: .3em;
	z-index: 1;
}

.obsach {
	grid-area: obsach;
	z-index: 2;
}

.ikonky {
	z-index: 1;
	overflow: hidden;
	grid-area: ikonky;
	display: grid !important;	
}

.half-ellipse {
	overflow: hidden;
	display: grid;
	place-self: center;
	background-color: #AE9850;
	width: 170%;
	height: 100%;
	border-radius: 50% / 100%;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	grid-template-areas: ". facebook instagram kepler .";
}

.planeta {
	margin-left: 60%;
}

.kosmik {
	z-index: 1234;
	margin-left: 70%;
	margin-top: 20%;
}

.ikonka {
	padding-top: 1.5em;
	object-fit: scale-down;
	height: 100px;
	justify-self: center;
	cursor: pointer;
	pointer-events: auto;
	z-index: 1200;
}

.fb {
	grid-area: facebook;
	justify-self: right;
	cursor: pointer;
}

.ig {
	grid-area: instagram;
}

.kp {
	grid-area: kepler;
	justify-self: left;
}
