body{
	background-color: #696969;
}

h1{
	color:orange;
}
div.bottom{
	background-color: #777777;
	padding: 2%;
	text-align: center;
}
a.bottom{

}

.kosmonaut{grid-area: kosmonaut;}
.obsach{grid-area: obsach;}

.grid{
	display: grid;
	grid-template-areas: 'kosmonaut obsach';
	grid-gap: 10px;
	padding: 10px;
}

